<appSettings>
  <add key="URL" value="https://diana-ltd.com/"/>
  <add key="TestDataSheetPath" value="C:\Users\DISHLIEV\Documents\Visual Studio 2013\Projects\Diana-ltd.comTests\Diana-ltd.comTests\DataDriven\"/>
  <add key="Logs" value="C:\Users\DISHLIEV\Documents\Visual Studio 2013\Projects\Diana-ltd.comTests\Diana-ltd.comTests\Logs\"/>


</appSettings>