<appSettings>
  <add key="URL" value="http://www.demoqa.com/"/>
  <add key="TestDataSheetPath" value="C:\Users\DISHLIEV\Documents\Visual Studio 2013\Projects\SeleniumWebDriverAdvanced\SeleniumWebDriverAdvanced\DataDrivenTests\"/>
  <add key="Logs" value="C:\Users\DISHLIEV\Documents\Visual Studio 2013\Projects\SeleniumWebDriverAdvanced\SeleniumWebDriverAdvanced\Logs\"/>
</appSettings>
